
@{
    ViewBag.Title = "TilausMaariaArkipaivissa";
}

<h2>TilausMaariaArkipaivissa</h2>

@model IEnumerable<WebApp_03_tilausdb.Models.tilaus_maaria_arkipaivissa>


@{
    ViewBag.Title = "CategorySales";
}
@section scripts{

    <script type="text/javascript">

        let labelTexts = [@Html.Raw(ViewBag.daysMaPe)];
        let dataValues = [@ViewBag.TilauksetMaPe];

var ctx = document.getElementById('barcanvas').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labelTexts,
        datasets: [{
            label: 'Sales in money per category',
            data: dataValues,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
    </script>

}



@*-------------------------------------------needs jquery to import data*@
<h2>Tilaumääriä arkipäivissä</h2>

<h3>
    @ViewBag.daysMaPe
</h3>
<h3>

@ViewBag.TilauksetMaPe

</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <canvas id="barcanvas">            </canvas>
        </div>
    </div>
    <div style="text-align:center">
        Tiedot on haettupaikallisesta testitietokannasta!


    </div>




</div>
