@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1971.5034632625895!2d25.65139021562559!3d60.387361982041455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4691f5d5182ac701%3A0x4d708dd7d7d60249!2sHevosenkeng%C3%A4nkatu%202%2C%2006100%20Porvoo!5e0!3m2!1sen!2sfi!4v1578817525404!5m2!1sen!2sfi" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<address>
   Hevoskengänkatu  <br />
    Porvoo, 06100<br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>