@{
    ViewBag.Title = "Home Page";
}


        <h2>Welcome in TilausDB database MVC program</h2>
        <p>
            Remember to login to use all features of this site. 
        </p>
 <img style=" max-width: 90%; display: block; position:center" src="https://cdn.pixabay.com/photo/2014/11/02/06/47/iphone-513495_1280.jpg" alt="Welcome" />