body {
    padding-top: 50px;
    padding-bottom: 20px;
}


th {
    background-color: #004466;
    color: white;
}

/*tänne sitten tilaus rivit varten div muotoilut ---ZK*/

.triviHeader {
    background-color: #004466;
    color: white;
    vertical-align: middle;
}

.triviH {
  
    display: inline-block;
    vertical-align: middle;
    width: 16%;
}
.trivi {
    color: black;
    display: inline-block;
    vertical-align: middle;
    width: 16%;
}
.triviR {
    background-color: #e3f9ff;
}
    .triviR:nth-child(odd) {
        background-color: #e8faff;
    }



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.kelluu {
    text-align: left;
    float: left;
    background: gray;
    color: #000;
    width: 300px;
    height: 500px;
    margin: 0 0 0 0;
    border: 0;
    padding: 5px;
    overflow: hidden;
}
